/*General Settings*/

* {
  font-family: Verdana, sans-serif;
  font-size: 1em;
}

span {
  font-weight:bold;
}

p{
  line-height: 140%;
}

/*Header*/

figure {
  display: inline-block;
  vertical-align: middle;
}

#title {
  display: inline-block;
  vertical-align: middle;
  font-size: 3em;
  font-style: italic;
  color: #0074a0;
}

#bordure {
  display: block;
  border: 2px solid #005474;
}


/*Menu*/

#menu {
  float: left;
  line-height: 120%;
  border: 2px solid #005474;
  border-radius: 20px;
  position: fixed;
}

ul {
  list-style:none;
  width: 200px;
  display:inline-block;
}



/*Button Design*/

#menu li > a {
  text-align: center;
  line-height: 120%;
  color: #0074a0;
  /*width: 80px;*/
}

#menu li ul li a {
  color: #0091c9;
}

/*Hover, link, visited Design*/

#menu li a:hover {
  font-weight: bold;
}

#menu li > a:visited {
  color: #0074a0;
}

#menu li ul li a:visited {
  color: #0091c9;
}

/*Hide elements*/

#menu li ul li {
  display: none;
}

/*Reveal elements on hover*/

#menu li a:hover + .hidden li, .hidden:hover li  {
  display:block !important;
}

/*Section Settings */

.main {
  float:right;
  margin-top: 15px;
  margin-right: 80px;
}


article {
  border-bottom: 1px solid black;
}

article h4 {
  font-size: 115%;
  color: #0091c9;
}

h2 {
  font-size: 150%;
  color:#0074a0;
}

.subtitle {
  font-style: italic;
  padding-bottom: 0,110em;
}

/*Responsive Design*/

@media handheld, screen and (max-width:1250px) {

  #menu {
    display:none;
  }

}
