/*General Settings*/

* {
  font-family: Verdana, sans-serif;
  font-size: 1em;
}

span {
  font-weight:bold;
}

p{
  line-height: 140%;
}

/*Header*/

figure {
  display: inline-block;
  border: 1px solid black;
  vertical-align: middle;
}

#title {
  display: inline-block;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 3em;
  font-style: italic;
}

#bordure {
  display: block;
  border: 2px solid black;
}


/*Menu*/

#menu {
  float: left;
}

ul {
  list-style:none;
  width: 150px;
  display:inline-block;
  border: 1px solid black;
}

#menu li ul li {
  display: none;
}

#menu li a:hover + .hidden li {
  display:block;
}

#menu li {
  border: 1px solid black;
}

#menu li a:hover {
  font-weight: bold;
}


/*Section Settings */

.main {
  border: 1px solid black;
  float:right;
  margin-top: 15px;
}


article {
  border-bottom: 1px solid black;
}

article h4{
  font-size: 115%;
}

h2 {
  font-size: 150%;
}

.subtitle {
  font-style: italic;
  padding-bottom: 0,110em;
}
